<div class="note">
  <div class="note-header">
    <h1 class="note-title">{{note.title}}</h1>
    <div class="note-menu" role="menubar">
      <small class="note-updated-at" role="status">Last updated on 10 Mar 2021 at 7:46 PM</small>
      <button class="edit-button edit-button--outline" hx-get="/edit/{{note.id}}" hx-target="#note-viewer" role="menuitem">Edit</button>
    </div>
  </div>
  <div class="note-preview">
    <div class="text-with-markdown">
      {{html|safe|escape}}
    </div>
  </div>
</div>
